@font-face {
    font-family: PhosphateRRSolid;
    src: url('../font/PhosphateRR\ Solid.ttf');
}
@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans-Regular.ttf);
}


body{
    margin: 0;
    padding: 0;
}

section {
    padding-top: 2%;
    width: 100vw;
    min-height: 100vh;
    background: radial-gradient(87.6% 89.88% at 87.56% 12.4%, rgba(46, 45, 45, 0.88) 0%, #2E2D2D 46.35%) repeat scroll 0 0;

}

.titreReal{
    font-family: "PhosphateRRSolid" ;
    letter-spacing: 2px;
}

.containerReal {
    width: 90%;
    height: auto;
    margin: auto;
    position: relative;
    color: antiquewhite;
}

.slides {
    position: relative;
    display: none;
    width: 100%;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 30px 2px 0 2px;
    display: inline-block;
    background: #ddd;
    transition: all .3s;
}

.active,
.dot:hover {
    background: #717171;
}

.mainbox {
    display: flex;
    align-items: center;

}

.textR {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    height: 250px;
    width: auto;
}

.textR p {
    text-align: center;
    font-family: "OpenSans", sans-serif;
}

.textR h4 {
    font-family: "PhosphateRRSolid";
    letter-spacing: 2px;

}


.photoG {
    display: flex;
    flex-direction: column;
    clip-path: polygon(20% 0, 100% 0, 100% 80%, 79% 100%, 0 100%, 0 21%);
}

#bg1 {
    width: 30vw;
    height: 40vh;
    background: url(/assets/img/realisation_1.png);
    background-position: center;
    background-size: cover;
}

#bg2 {
    width: 30vw;
    height: 40vh;
    background: url(/assets/img/realisation_2.png);
    background-position: center;
    background-size: cover;
}

#bg3 {
    width: 30vw;
    height: 40vh;
    background: url(/assets/img/realisation_3.png);
    background-position: center;
    background-size: cover;
}

#bg4 {
    width: 30vw;
    height: 40vh;
    background: url(/assets/img/realisation_4.png);
    background-position: center;
    background-size: cover;
}

.slides h3 {
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 5.563rem;
}

.slides h4 {
    font-size: 2.5rem;
}

.t2 {
    border-top: 1px groove;
    border-bottom: 1px groove;
    border-color: orange;
    width: 80%;
    transform: translateX(10%);
    position: relative;

}

.border1{
    border-bottom: 4px solid rgba(190, 124, 2, 0.041);
    transition: ease-in-out 1s;
}

.border1:hover{
    border-bottom: 4px solid rgb(255, 166, 0);
}

.guillemet_g{
    margin-left: 45px;
}

.guillemet_d{
    position: absolute;
    right: 0;
    margin-right: 171px;
}



@media only screen and (max-width : 1020px) {

    .photoG {
        clip-path: none;
        height: 300px;
        margin-right: auto;
    }

    .mainbox {
        flex-direction: column;
    }

    .textR {
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 5px;
        width: auto;
         
    }
    .textR p{
        margin-top: 20px;
        text-align: left;
        width: 70%;
    }

    .textR h4 {
        margin-top: 25px;
    
    }

    .t2{
        margin-left:-50px;
    }

    .slides h3{
        font-size: 4rem;
    }
 section{
     min-height: 120vh;
 }

    .dot {
    position: absolute;
    top: 120%;
    right: 0;
    display: flex;
    margin-right: 10px;
    margin-left: 5px;
} 

.dot:nth-child(1){
    margin-top :9px;
}
.dot:nth-child(2){
    margin-top: 50px;
}
.dot:nth-child(3){
    margin-top: 73px;
}
.guillemet_g{
    margin-left: -34px;
    margin-top: 5px;
}

.guillemet_d{
    margin-right: 183px;
}

}

@media only screen 
   and (max-width : 720px){
    .slides h3{
        font-size: 2rem;
    }
    .t2{
        margin-left:-30px;
    }

    .guillemet_g{
        margin-left: -11px;
      margin-bottom: -18px;
    }

    .guillemet_d{
        position: inherit;
        margin-right: 80px;
    }

    .photoG{
        height: 150px;
    }



   }
